<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="/public/images/homer5.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Method donated</th>
          </tr>
        </thead>
        <tbody>
          #{list items:donations, as:'donation'}
          <tr>
            <td>${donation.amount}</td>
            <td>${donation.method}</td>
          </tr>
          #{/list}
        </tbody>
      </table>
    </article>
  </div>
</section>