#{extends 'main.html' /} 
#{set title:'Special' /} 
<section class="ui raised segment">
  <div class="ui grid">
    <div class="six wide column">#{include "segments/welcome.html" /}</div>
    <div class="four wide column">#{include "segments/login.html" /}</div>
    <div class="four wide column">#{include "segments/signup.html" /}</div>
    <div class="four wide column">#{include "segments/donate.html" /}</div>
    <div class="four wide column">#{include "segments/report.html" /}</div>
  </div>
</section>